altgraph==0.17.5
blinker==1.9.0
bottle==0.13.4
click==8.3.3
Flask==3.1.3
itsdangerous==2.2.0
Jinja2==3.1.6
macholib==1.16.4
MarkupSafe==3.0.3
packaging==26.2
pillow==12.2.0
proxy_tools==0.1.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pyobjc-core==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-Quartz==12.1
pyobjc-framework-Security==12.1
pyobjc-framework-UniformTypeIdentifiers==12.1
pyobjc-framework-WebKit==12.1
pytesseract==0.3.13
pywebview==6.2.1
rumps==0.4.0
typing_extensions==4.15.0
watchdog==6.0.0
Werkzeug==3.1.8
